*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vw;
    width: 100vw;
}


@media screen and (min-width: 992px){
    .heading{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .section1{
        border: 2px solid black;
        background-color: grey;
    
        margin-top: 20px;
        width: 25%;
        float: left;
        margin: 30px;
    }
   
    .box{
     
        margin-left: 79%;
        background-color: indianred;
        border: 2px solid black;
        display: block;
        width: 15%;
        padding-left: 5%;
    
    }
    .sec3{
        padding: 10px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px)  {
   
    .heading{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .section1{
        border: 2px solid black;
        background-color: grey;
        margin-top: 20px;
        margin-left: 10px;
        width: 48%;
        float: left;
        
    }
    
    #res{
        border: 2px solid black;
        background-color: grey;
    
        margin-top: 10px;
        width: 100%;
        float: left;
        

    }
   
    .box{
     
        margin-left: 79%;
        background-color: indianred;
        border: 2px solid black;
        display: block;
        width: 15%;
        padding-left: 5%;
    
    }
    .sec3{
        padding: 10px;
    }
}






@media screen and (max-width: 767px)   {
   
    .heading{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .section1{
        border: 2px solid black;
        background-color: grey;
        margin-top: 20px;
        margin-left: 10px;
        width: 100%;
        float: left;
        
    }
    
   
   
    .box{
     
        margin-left: 79%;
        background-color: indianred;
        border: 2px solid black;
        display: block;
        width: 15%;
        padding-left: 5%;
    
    }
    .sec3{
        padding: 10px;
    }
}

